@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

:root {
  --white: #fff;
  --text-primary: #fff;
  --bg-card: rgba(255, 255, 255, 0.25);
  --border-card: rgba(255, 255, 255, 0.5);
  --gray-blue-grey-blue-98: #f7f8fa;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: var(--gray-blue-grey-blue-98);
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  background-color: #e63946;
}

.noty_body {
  color: #e76f51;
  font-size: 16px;
  padding: 14px;
}

.has-scrollbar {
  will-change: scroll-position;
  scroll-behavior: smooth;
  overflow: hidden overlay;
}
.has-scrollbar::-webkit-scrollbar {
  width: 4px;
  visibility: hidden;
}
.has-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
  visibility: visible;
}
.has-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--border-card);
}

.wrapper-layout {
  padding-left: 50px;
  padding-right: 50px;
}

.app {
  padding: 40px;
  height: 100%;
  min-height: 100vh;
}

.header {
  position: relative;
  z-index: 99;
}

.header-user__dropdown {
  background-color: var(--bg-card);
  border: 1px solid var(--border-card);
}

.main {
  border-radius: 12px;
  box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
  display: flex;
  flex-direction: column;
  background: linear-gradient(243deg, #9065bc 0%, rgba(255, 0, 108, 0.38) 100%);
}

.forecast-temperature {
  color: var(--text-primary);
}

.header-logo__text {
  color: var(--text-primary);
}

.dark-mode__btn .dark-mode {
  height: 22px;
  width: 45px;
  transform: scale(1.4);
  transition: 0.5s ease-in-out;
  background-color: rgba(22, 21, 21, 0.1);
}
.dark-mode__btn .dark-mode .spinner {
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 20px);
  transition: 1s ease-in-out;
}
.dark-mode__btn .dark-mode.active .spinner {
  right: calc(100% - 20px);
  left: auto;
  transition: 1s ease-in-out;
}
.dark-mode__btn .dark-mode.active {
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown-list {
  background-color: var(--bg-card);
  border: 1px solid var(--border-card);
}
.dropdown-list .dropdown-item:hover {
  background-color: #fb6f92;
}

.dropdown-list.show {
  display: block;
}

.card-forecast__item {
  background-color: var(--bg-card);
  border: 1px solid var(--border-card);
}

.header-logo__name {
  font-family: "Bad Script", cursive;
  font-weight: 600;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.loading {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loading.show {
  display: flex;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */